*.pyc
*~
*.jgz
*.gz
*.DS_Store

whoosh/
compressed/
ycp/media/

ycp/settings_secret.py

ycp/static/ckeditor/*
!ycp/static/ckeditor/plugins/
ycp/static/ckeditor/plugins/*
!ycp/static/ckeditor/plugins/youtube/