{% extends "blog/posts.html" %}

{% block title %}{{post.title}} | {% endblock %}

{% load comments %}

{% block content %}
<div class="post detail">
  <div class="arrow"></div>
  
  <h2>{{post.title}}</h2>
  
  <div class="meta">
    <span class="created"><span class="icon"></span>
      <a href="{% url 'postArchivesMonth' post.created|date:'Y' post.created|date:'m' %}">Posted {{post.created|date:"d M y"}}</a>
      by {% if post.user.get_full_name %}{{post.user.get_full_name}}{% else %}
      {{post.user.get_username }}{% endif %}</span>
    <span class="comments-count"><span class="icon"></span>
      {% get_comment_count for post as comment_count %}
      <a href="#comments">{{comment_count}} comment{{comment_count|pluralize}}</a></span>
    <span class="tags"><span class="icon"></span>Tags:
      {% for tag in post.tags.all %}
      <a href="{% url 'tagDetails' tag %}">
        {{tag}}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </span>
  </div>
  
  <div class="content">
    {{post.content|safe}}
  </div>
  <div class="clear"></div>
  
  
  <div class="icon-container">
    {% if perms.blog.delete_post %}
    <form action="{% url 'postDelete' post.id %}" method="post" class="delete"
          title="delete post">
      {% csrf_token %}
      <button type="submit" class="delete-icon icon"></button>
    </form>
    {% endif %}
    {% if perms.blog.change_post %}
   <a href="{% url 'postEdit' post.id %}" class="edit-icon icon"
      title="edit post"></a>
   {% endif %}
   
   <a href="javascript:;" class="share-icon button" title="share">Share
     <span class="icon"></span></a>
   
   <div class="share-media"
        data-url="{{SITE_URL}}{% url 'postDetail' post.id %}" 
        data-title="{{post.title}}">
     <a href="javascript:;" class="share-icon icon facebook"></a>
     <a href="javascript:;" class="share-icon icon twitter"></a>
     <input type="text"
            value="{{SITE_URL}}{% url 'postDetail' post.id %}"
            />
   </div> <!-- end share-media -->
   
  </div> <!-- end .icon-container -->
 
</div> <!-- end post -->


<div id="comments" class="comments-container">
  <h2>Comments</h2>
  
  {% with object=post %}
  {% url 'postDetail' post.id as next %}
  {% include "comments/form.html" %}
  {% endwith %}
  
  {% include "comments/list.html" %}
</div> <!-- end comments -->


<div class="nav-page">
  {% if next_post %}
  <a href="{% url 'postDetail' next_post.id %}" class="nexttext"
     title="next post">Next<span class="icon next"></span></a>
  {% endif %}
  {% if prev_post %}
  <a href="{% url 'postDetail' prev_post.id %}" class="prevtext"
     title="previous post"><span class="icon prev"></span>Previous</a>
  {% endif %}
</div>
<div class="clear"></div>
{% endblock %}
