{% extends "staticpage/about/about.html" %}

{% block pageheadingtext %}Power Quotes{% endblock %}

{% block mainbarcontent %}
<h2>Power Quotes</h2>
<p>Vision, Inspiration, Action</p>
<p><blockquote>
  Do not let the hero in your soul perish, in lonely frustration for the life you deserved, but have never been able to reach…Do not let your fire go out, spark by irreplaceable spark, in the hopeless swamps of the approximate, the not-quite, the not-yet, the not-at-all.
  The world you desired can be won. It exists, it is real, it is possible, it is yours.</blockquote>
  - Ayn Rand</p>

<p><blockquote>
 If you want to reach a goal, you must “see the reaching” in your own mind before you actually arrive at your goal
</blockquote>
  - Zig Ziglar</p>


<p><blockquote>
    There is no easy walk to freedom anywhere, and many of us will have to pass through the valley of the shadow of death again and again before we reach the mountaintop of our desires.
  </blockquote>
  - Nelson Mandela
</p>


<p><blockquote>
   Keep away from people who try to belittle your ambitions. Small people always do that, but the really great make you feel that you, too, can become great.
  </blockquote>
  - Mark Twain
</p>


<p><blockquote>
   Courage is resistance to fear, mastery of fear – not absence of fear.
  </blockquote>
  - Mark Twain
</p>

<p><blockquote>
    One effect of sustained conflict is to narrow our vision of what is possible.
  </blockquote>
  - Nelson Mandela
</p>


<p><blockquote>
    He who cherishes a beautiful vision, a lofty ideal in his heart, will one day realize it. Dream lofty dreams and as you dream so shall you become...
  </blockquote>
  - James Allen (Your Achievement Ezine – Issue No. 153)
</p>

<p><blockquote>
    Think of yourself as on the threshold of unparalleled success. A whole clear, glorious life lies before you. Achieve!
  </blockquote>
  - A Carnegie
</p>

<p><blockquote>
    In a time of drastic change, it is the learner who inherits the future. The learned usually find themselves equipped to live in a world that no longer exists
  </blockquote>
  - Eric Hoffer.
</p>

<p><blockquote>
    Leadership is the capacity to translate vision into reality
  </blockquote>
  - Warren G. Bennis
</p>

<p><blockquote>
    Vision without action is a dream. Action without vision is simply passing the time. Action with Vision is making a positive difference.
  </blockquote>
  - Joel Barker
</p>

<p><blockquote>
    The visionary disciplines himself to see the world always as if he had only just seen it for the first time.
  </blockquote>
  - Colin Wilson ("An Autobiographical Introduction" Religion and the Rebel)
</p>

<p><blockquote>
    Visionary people are visionary partly because of the very great many things they don’t see.
  </blockquote>
  - Berkeley Rice (New York Times Magazine, March 17, 1968)
</p>


<p><blockquote>
    Visualization, that seeing of that which is not yet, is essential for the attainment of all the good that man may aspire to.
  </blockquote>
  - Tehilla Lichtenstein ("God in the Silence")
</p>


<p><blockquote>
    Live by what you believe so fully that your life blossoms, or else purge the fear-and-guilt producing beliefs from your life. When people believe one thing and do something else, they are inviting misery. If you give yourself the name, play the game. When you believe something you don’t follow with your heart, intellect, and body, it hurts. Don’t do that to yourself. Live your belief, or let that belief go. If you are not actively living a belief, it’s not really your belief, anyway
  </blockquote>
  - John-Roger (Life 101)
</p>


<p><blockquote>
    The vision that you glorify in your mind, the ideal that you enthrone in your heart–this you will build your life by, and this you will become.
  </blockquote>
  - James Lane Allen
</p>


<p><blockquote>
    Your reason and your passion are the rudder and the sails of your seafaring soul. If either your sails or your rudder be broken you can but toss and drift, or else be held at a stand still in mid-seas.
For reason, ruling alone, is a force confining; and a passion unattended, is a flame that burns to its own destruction. Therefore let your soul exalt your reason to the height of passion, that it may sing; and let it direct your passion with reason, that your passion may live through its own daily resurrection, and like the phoenix rise above its own ashes.
  </blockquote>
  - Khalil Gibran,The Prophet
</p>


<p><blockquote>
    Nuture your minds with great thoughts. To believe in the heroic makes heroes
  </blockquote>
  - Benjamin Disraeli
</p>


<p><blockquote>
    Vision looks inward and becomes duty. <br />
    Vision looks outward and becomes aspiration. <br />
    Vision looks upward and becomes faith
  </blockquote>
  - Stephen S. Wise
</p>


<p><blockquote>
    Only he who can see the invisible can do the impossible
  </blockquote>
  - Frank Gaines (Forbes)
</p>


<p><blockquote>
    Vision without a task is only a dream. A task without a vision is but drudgery. But vision with a task is a dream fulfilled
  </blockquote>
  - Willie Stone
</p>



<p><blockquote>
    Vision without action is a daydream. Action without vision is a nightmare
  </blockquote>
  - Japanese proverb
</p>



<p><blockquote>
    Our task must be to free ourselves…by widening our circle of compassion to embrace all living creatures and the whole of nature and its beauty
  </blockquote>
  - Albert Einstein
</p>


<p><blockquote>
    People who cannot invent and reinvent themselves must be content with borrowed postures, secondhand ideas, fitting in instead of standing out
  </blockquote>
  - Warren Bennis
</p>


<p><blockquote>
    When it is darkest, men see the stars.
  </blockquote>
  - Ralph Waldo Emerson
</p>


<p><blockquote>
    We are limited, not by our abilities, but by our vision.
  </blockquote>
  - Anonymous
</p>


<p><blockquote>
    Your world is as big as you make it
  </blockquote>
  - Georgia Douglas Johnson ("Your World")
</p>


<p><blockquote>
    We are responsible for the quality of our vision, we have a say in the shaping of our sensibility. In the many thousand daily choices we make, we create ourselves and the voice with which we speak and work.
  </blockquote>
  - Carolyn Forche
</p>


<p><blockquote>
    With vision there is no room to be frightened., No reason for intimidation. It's time to march forward! Let’s be confident and positive!
  </blockquote>
  - Charles R. Swindoll (Living Above the Level of Mediocrity)
</p>


<p><blockquote>
    The world of tomorrow belongs to the person who has the vision for today.
  </blockquote>
  - Robert Schuller
</p>

<p><blockquote>
    I feel that most people have visions, dreams, and insight as the fruits of their spiritual practices ... But we need to give ourselves permission to act out those dreams and visions ... even if it takes a lifetime
  </blockquote>
  - Sherry Ruth Anderson and Patricia Hopkins (The Feminine Face of God)
</p>

<p><blockquote>
    The idea is to seek a vision that gives you purpose in life and then to implement that vision. The vision by itself is one half, one part, of a process. It implies the necessity of living that vision, otherwise the vision will sink back into itself
  </blockquote>
  - Lewis P. Johnson ("Seeking the Spirit Path" Parabala)
</p>

<p><blockquote>
    If you can’t see it, before you see it, you’ll never see it
  </blockquote>
  - Dr. Jack Graham
</p>

<p><blockquote>
    We can lift ourselves out of ignorance, we can find ourselves as creatures of excellence and intelligence and skill.
  </blockquote>
  - Jonathan Livingston Seagull
</p>


{% endblock %}
