{% extends "staticpage/getinvolved/getinvolved.html"  %}

{% block pageheadingtext %}The CFP Challenge{% endblock %}

{% block mainbarcontent %}
<h2>The CFP Challenge</h2>
<p>
  <blockquote>
    To read is to fly: it is to soar to a point of vantage which gives a view over wide terrains of history, human variety, ideas, shared experience and the fruits of many inquiries.
  </blockquote>
  - A C Grayling, Financial Times (in a review of A History of Reading by Alberto Manguel)
</p>


<p>
  <blockquote>
    A truly great book should be read in youth, again in maturity and once more in old age, as a fine building should be seen by morning light, at noon and by moonlight.
  </blockquote>
  - Robertson Davies
</p>

<p>
  <blockquote>
    It is not true we have only one life to live, if we can read, we can live as many lives and as many kinds of lives as we wish.
  </blockquote>
  - S.I. Hayakawa
</p>

<p>Participants are invited to read at least 5 great books this year and are free to choose from our list of autobigographies, African fiction and non-fiction, development literature, Latin American and Oriental Literature. Prizes will be given to outstanding book reviews every month as well as at the end of the year. Also, if a particular book is not in your area, contact us and we might be able to work out an arrangement.</p>

<p>CFP Reading List:</p>

<ol>
  <li>"The Audacity of Hope" - Barack Obama</li>
  <li>"Extraordinary, Ordinary People"- Condoleezza Rice</li>
  <li>"What is the What" - by Dave Eggers.</li>
  <li>"Jane Eyre" - Charlotte Bronte</li>
  <li>"The Thing Around Your Neck" - Chimamanda Ngozi Adichie</li>
  <li>"Purple Hibiscus" - Chimamanda Ngozi Adichie</li>
  <li>"Dead Aid" - Dambisa Moyo</li>
  <li>"Love in the time of Cholera" - Gabriel Garcia Marquez</li>
  <li>"The Kite Hunter" - Khaled Hosseini</li>
  <li>"The October Killings" - Wessel Ebersohn</li>
  <li>"Memory Palace" - Mira Bartok</li>
</ol>

<p>YCP Gambia will be starting a book club this year so members who might want to read some of these books but have no access to them. Stay tuned!</p>

<p>You are also invited to leave comments about some of these books or other books you might have read. Recommendations are welcome. Also feel free to contact us if you have some books to donate or if you would like to support the book club.</p>

<p><blockquote>
    Today a reader, tomorrow a leader.
  </blockquote>
  - W. Fusselman
</p>
{% endblock %}
