{% extends "staticpage/getinvolved/getinvolved.html"  %}

{% block pageheadingtext %}The Consortium Basket{% endblock %}

{% block mainbarcontent %}
<h2>The Consortium Basket</h2>
<p>Consortium for Progress is about team work, unity, hard work and excellence. All our initiatives are planned and orchestrated by young people for the benefit of other young people and for the good of the CFP community as a whole. These initiatives are also financed for the most part by young people most of whom are still in school and run on tight budgets and schedules but who believe that when resources are pooled together: material resources, time, skills etc, we can all keep our dreams alive.</p>

<p>YCP invites young Africans across the continent and in the diaspora to join the committee and assist in making sure that our seminars, panel discussions, conferences, scholarships, business competitions and other projects hold and more importantly that our youths get access to reading and learning materials and are able to exploit their potentials to the fullest.</p>

<p>To join the Consortium Basket committee and find out how you can contribute your resources for the good of the community, <a href="{% url 'contact' %}">contact us</a>.</p>

<p>Material and non-material contributions by youths, organisations, businesses and other well-meaning individuals would also be appreciated.</p>

{% endblock %}
