{% extends "staticpage/getinvolved/getinvolved.html"  %}

{% block pageheadingtext %}Grassroot Projects (YCP Gambia){% endblock %}

{% block mainbarcontent %}
<h2>Grassroot Projects (YCP Gambia)</h2>
<p>YCP has a couple of projects lined up for our members in The Gambia this year ranging from seminars and panel discussions and training programs to youth nights, football competitions and essay competitions.</p>

<ul>
  <li>YCP Fellowship Program placing young Gambians as teachers in schools and research on the challenges facing education in the Gambia.</li>
  
  <li>Entrepreneurial competitions- supporting student entrepreneurial initiatives business plans.</li>
  
  <li>Youth events: Seminars, panel discussions, debates, tournaments and community development initiatives</li>
  
  <li>Essay-writing competitions</li>
  
  <li>Scholarships – funding courses in various fields such as public health, social innovation, advocacy, peace-building</li>
  
  <li>Training Programs- administering the English and leadership training programs</li>
  
  <li>Youth Advocacy- participation in national and international youth conferences and forums</li>
</ul>

<p>For 2012, check out the <a href="{% url 'innovationinfluence' %}">Under the Innovation Influence Campaign</a></p>

{% endblock %}
