{% extends "staticpage/getinvolved/getinvolved.html"  %}

{% block pageheadingtext %}Scholarships{% endblock %}

{% block mainbarcontent %}
<h2>Scholarships</h2>
<p>YCP will be launching some scholarships programs for courses in global health, advocacy, human rights and community development, NGO management and social entrepreneurship. This opportunity is only available to members who have finished the leadership training program with distinctions.</p>

<p>Congratulations to Michael Nyame of Ghana who recently won the YCP International Development Scholarship! We wish you all the best in your diploma course.</p>

<p>If you would like to donate to the scholarship fund, send us an email at consortiumforprogress[at]gmail[dot]com.</p>

<p>Meanwhile, members will be constantly informed of other scholarship opportunities administered by other institutions as well as opportunities for fellowships and internships around the world.</p>
{% endblock %}
