{% extends "staticpage/getinvolved/getinvolved.html"  %}

{% block pageheadingtext %}Training Programs{% endblock %}

{% block mainbarcontent %}
<h2>Training Programs</h2>
<p>Consortium for Progress presently organises three training programs every year for all our registered members</p>

<ol>
  <li>YCP English Diploma Program<br/>
This program is designed for youths who wish to improve their speaking and writing skills. Three training programs will be administered: YCP Basic, YCP Intermediate and YCP Advanced. The Advanced training will be tailored to suit the needs of those interested in writing WASSCE, TOEFL, SAT and other language proficiency exams. Each program is a five-week course and will be administered online and offline to suit the needs of all interested members. Each member will get a Diploma on the completion of the YCP Advanced English Diploma program. The training program will begin in March.</li>
  
  <li>
    <p>YCP Leadership Training Program<br/>
We usually wait for development projects to succeed or fail before we praise or criticize them. But what if we have a platform for aspiring African changemakers to learn about the philosophy and practice of development and share ideas with each other before or while they engage in community development initiatives.
<br/>
This program seeks to train the next generation of Gambia’s -and Africa’s -youth leaders and equip them with the tools they need to effect change in their communities.</p>
    
    <ul>The program is a six-week course with modules on
      <li>the philosophy of development and humanitarian aid</li>
      <li>the practice of development (successes and shortcomings)</li>
      <li>the importance of youth activism/inspirational stories and messages
      </li>
    </ul>
    
    <p>This program promises to be interactive and intellectually engaging, bring youths from all parts of the globe and promoting wholesome discussions about development, culture and lifestyle and providing opportunities for networking and helping students to develop analytical skills. It will be held on a couple of online platforms to enable students maximize the online learning experience.</p>
    
    <p>At the end of the course, successful candidates will receive a certificate of participation and will be provided with mentorship and other resources they need to develop their community development initiatives either individually or in groups. Depending on their level of success and expertise and their areas of interest, they may also be eligible for educational scholarships or fellowships.</p>
    
    <ul>This program is open to
      <li>youths resident in the Gambia especially Latrikunda German</li>
      <li>African youths across the continent interested in becoming youth activists</li>
      <li>young Africans in the Diaspora who want to learn about aid, activism and development as well as current youth activists and development workers in Africa and the diaspora.</li>
    </ul>
    
  </li>
  
  <li>
    Other online courses<br/>
Students who have taken the Leadership Training Program can go on to take other online courses on human rights, peace-building, global health, community development, etc, administered by third parties. Information about these will be available upon the completion of the LTP.
  </li>
</ol>

<p>For more information about the other programs or to enroll, email us at education[at]ycpconsortium[dot]org.</p>

{% endblock %}
