{% extends "staticpage/projects/projects.html" %}

{% block pageheadingtext %}The Cheetah Generation Radio Show{% endblock %}

{% block mainbarcontent %}
<h2>The Cheetah Generation Radio Show</h2>
<p>As part of our goal to continually engage, inform and educate Gambia’s youth, YCP just launched a radio show on Star FM which will premiere on Sunday January 6, 2013 from 12:00p.m to 1:00p.m. GMT.</p>

<p>This show will explore several issues concerning lifestyle and social change from music and innovation to entrepreneurship and art. This show will also feature prominent personalities in all areas of life who are role models to youths the world over. By constantly engaging youths and we hope to break the cycle of apathy and inspire thousands to lead responsible lives while expanding their knowledge of various fields and equipping them to assume leadership positions in the future.</p>

<p><a href="http://tunein.com/radio/Star-FM-966-Banjul-s182899/">Tune in to Star FM</a></p>


{% endblock %}
